body {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.trocar-fundo {
  width: 30px;
  font-size: 20px;
  margin: 10px 10px 0 0;
  color: black;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

.trocar-fundo:hover {
  color: var(--color-button);
  transform: scale(1.1);
  opacity: 1;
}

.conteudo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  width: 350px;
}

img {
  width: 100%;
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
  transition: transform 0.4s ease-in-out;
}

.avatar:hover {
  transform: scale(1.1);
}

.nome {
  font-size: 32px;
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 20px;
}

.proficao {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

.lista-de-redes {
  list-style: none;
  margin: 28px 0;
}

.lista-de-redes .redes {
  display: flex;
  justify-content: center;
}

.lista-de-redes .redes .redes-sociais {
  width: 85%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--text-color);
  background: var(--primary-color);
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
  padding-left: 95px;

  transition: background 400ms ease-in-out, transform 0.3s ease-in-out;
}

.lista-de-redes .redes .redes-sociais:hover{
  background: var(--primary-color-dark);
  transform: scale(1.1);
}

.lista-de-redes .redes .redes-sociais i {
  padding-right: 10px;
  font-size: 2em;
}

.cabecalho {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
  opacity: 0.6;
  transition: opacity 400ms;
}

.cabecalho:hover {
  opacity: 1;
}

.cabecalho a {
  color: var(--text-color);
}




