html {
  --bg-color : black;
  --text-color: white;
  --primary-color: blueviolet;
  --primary-color-dark: rgb(99, 18, 175);
  --color-button: #D6336C;
}

.dark-pink {
  --bg-color : #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
  --color-button: blueviolet;
}

